@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #3700b3;
}
.nav-container a {
  color: white;
}

header {
  justify-content: space-between;
  padding: 1em;
}
header .logo {
  color: cyan;
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul li {
  margin: auto;
}

hr {
  width: 75%;
  margin: auto;
  margin-bottom: 2em;
}

.hero-design {
  display: none;
}

.hex {
  display: none;
}

.hero {
  background-color: #6200ee;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.subhead {
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: cyan;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: darkorchid;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  display: block;
}

.featured-title:hover {
  color: blue;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.projects {
  margin-bottom: 3em;
}
.projects h1 {
  margin-top: 2em;
}
.projects .carousel {
  width: 95%;
  margin: auto;
}

.skills {
  background-color: #6200ee;
}

.skills-container ul li {
  background: transparent;
  padding: 0.5em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .skillbtn {
  margin: auto;
  background-color: cyan;
  border-radius: 5px;
  color: black;
  padding: 13px;
  width: 70%;
  transition: all 300ms ease;
}
.skills-container ul li .skillbtn:hover {
  background-color: rgb(255, 255, 255);
  cursor: default;
  transition: all 300ms ease;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .skill-title {
  font-weight: bold;
  margin-top: 2em;
}
.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.accord {
  margin: 2em 0;
}

.accord-item {
  margin: 0;
  width: 100%;
}

.accord-item-header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding-block: 1.2em;
  padding-left: 1em;
}

.accord-item-header::after {
  content: "+";
  position: absolute;
  right: 1rem;
  transition: transform 0.3s ease-in-out;
}

.accord-item-header.active::after {
  transform: rotate(45deg);
}

.accord-item-body {
  background-color: grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accord-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, green, yellow) 1;
     border-image: linear-gradient(to right, green, yellow) 1;
}

@media only screen and (min-width: 800px) {
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .hex {
    display: none;
  }
  .content {
    padding-top: 8em;
  }
  .featured {
    text-align: left;
  }
  .featured {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .featured-desc {
    padding-right: 5%;
  }
  .left {
    display: grid;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .subtitle {
    margin-top: 5em;
  }
  .skills {
    padding-top: 70% em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }
  .skills-container ul .dune {
    float: left;
    width: 80%;
  }
  .skills-container ul .skillbtnul {
    float: right;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
  }
  .skills-container ul .skillbtnul .skillbtn {
    width: 100%;
    padding-inline: 20px;
  }
  #carouselfeatured {
    width: 80% !important;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 3%;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 100vh;
  }
  .featured,
.skills {
    height: 100vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  section {
    padding: 4em;
  }
  .hero {
    display: block;
    padding: 0;
    position: relative;
  }
  .hero .content {
    padding: 10em 8em 6em 4em;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .featured {
    position: relative;
  }
  .skills {
    position: relative;
    padding-left: 0;
  }
  .skills .skills-container {
    margin-left: 4em;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 14em 8em 6em 10em;
  }
  .skills {
    position: relative;
    padding-left: 0;
  }
  .skills .skills-container {
    margin-left: 10em;
  }
  .featured .hero-design svg {
    fill: grey;
  }
  .hero-design {
    box-sizing: border-box;
    position: absolute;
    display: block;
    bottom: 0;
    padding-block: 1%;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: background-color 600ms ease;
  }
  .hero-design svg {
    fill: white;
    transition: fill 600ms ease;
  }
  .hero-design:hover {
    background-color: rgba(0, 0, 0, 0.247);
    transition: background-color 600ms ease;
  }
  .hero-design:hover svg {
    fill: cyan;
    transition: fill 600ms ease;
  }
}
@media only screen and (min-width: 1500px) {
  header {
    padding: 2em 5em 2em 36em;
  }
  header ul {
    margin-left: -4em;
    margin-right: -5em;
  }
  header ul li {
    margin-inline: 1em;
  }
  .hero .content {
    padding: 20em 8em 6em 15em;
  }
  .hero .content h1 {
    text-align: left;
  }
  .hero .hex {
    position: absolute;
    display: block;
    margin: -21% 0 0 63%;
  }
  section {
    padding: 10em 15em 4em 15em;
  }
  .skills {
    position: relative;
    padding-left: 0;
  }
  .skills .skills-container {
    margin-left: 15em;
  }
}/*# sourceMappingURL=main.css.map */